{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password | Khata</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body>
    <div class="flex h-screen items-center justify-center custom-bg custom-font">
        <form method="post"
            class="custom-form-bg p-14 text-slate-100 shadow-lg rounded-md min-w-96 shadow-gray-800 md:w-1/4"
            id="forgot-password-form">
            {% csrf_token %}
            <h1 class="text-center text-lg">Forgot password</h1>
            <div class="flex w-full flex-col self-center mt-5" id="input-fields">
                <div class="w-full flex justify-between">
                    <label for="email" class="">Email</label>
                    <a href="{% url 'users:general' slug='login' %}" class="text-blue-300 underline">Login Instead?</a>
                </div>
                <input type="email" name="email" class="input w-full" id="email">
                <label for="otp" class="" style="display: none;" id="otp-label">OTP</label>
            </div>
            <div class="w-full flex justify-center mt-1">
                <button type="submit" class="btn btn:hover">Submit</button>
            </div>
        </form>
        <form method="post"
            class="custom-form-bg min-w-96 rounded-md p-14 text-slate-100 shadow-lg shadow-gray-800 md:w-1/4"
            id="password-reset-form" style="display: none;">
            {% csrf_token %}
            <h1 class="text-center text-lg">Reset password</h1>
            <div class="mt-5 flex w-full flex-col self-center" id="input-fields">
                <label for="otp">OTP</label>
                <input type="text" class="input w-full" name="otp" placeholder="Please enter OTP"required>
                <label for="password" class="">Password</label>
                <input type="password" name="password" class="input w-full" id="password" placeholder="Password" required/>
                <div class="flex w-full justify-between">
                    <label for="confirm-password" class="">Confirm Password</label>
                    <a href="{% url 'users:general' slug='login' %}" class="text-blue-300 underline">Login Instead?</a>
                </div>
                <input type="password" name="confirm-password" class="input w-full" id="password"
                    placeholder="Confirm password" required/>
            </div>
            <div class="mt-1 flex w-full justify-center">
                <button type="submit" class="btn btn:hover">Submit</button>
            </div>
        </form>
    </div>
    <script src="{% static 'users/js/forgot-password.js' %}"></script>
</body>

</html>