{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Khata</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>

<body>
    <form method="post" id="login-form">
        {% csrf_token %}
        <h1>Log in to your account</h1>
        <label for="username" class="user-label">Username</label>
        <input type="text" name="username" required>
        <div class="forgot-label">
            <label for="password">Password</label><a href="{% url 'users:general' slug='forgot-password' %}">Forgot password?</a>
        </div>
        <input type="password" name="password" required>
        <input type="submit" value="Login">
    </form>
    <script src="{% static '/users/js/login.js' %}"></script>
</body>

</html>