{% extends 'base.html' %}
{% load static %}

{% block title %}Login | Bill Management System{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<!-- login form with username and password -->
<form action="login" method="post">
    {% csrf_token %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <label for="username">Username</label>
    <input
        type="text"
        name="username"
        placeholder="Username"
        required
    >
    <label for="password">Password</label>
    <input
        type="password"
        name="password"
        placeholder="Password"
        required
    >
    <input type="submit" value="Login">
</form>
{% endblock %}
