{% extends 'base.html' %}
{% load static %}

{% block title %}Create Bill | Bill Management System{% endblock %}

{% block css %}
<link href="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/css/nepali.datepicker.v4.0.1.min.css"
    rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="text-3xl text-black pb-6">Create Bill</h1>

        <div class="w-full mt-6">
            <div class="bg-white overflow-auto p-6">

                <div class="flex items-center justify-between">
                    <input type="text" id="items-search" placeholder="Search item"
                        class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
                    <button id="search-item-btn"
                        class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none">Search</button>
                </div>
                <div
                    class="flex items-center justify-between rounded bg-slate-500 absolute w-1/2 max-h-32 overflow-y-auto">
                    <div class="w-full">
                        <ul class="w-full" id="items-search-result">
                        </ul>
                    </div>
                </div>
                <div class="mb-4 flex flex-col justify-space md:flex-row">
                    <div class="mb-4 w-full md:w-1/2">
                        <label for="bill_date" class="mb-2 block text-sm font-bold text-gray-700">Bill Date</label>
                        <input type="text" id="bill_date" name="bill_date"
                            class="focus:shadow-outline w-full md:w-4/5 appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
                    </div>
                    <div class="mb-4 w-full md:w-1/2">
                        <label for="bill_no" class="mb-2 block text-sm font-bold text-gray-700">Bill No.</label>
                        <input type="text" id="bill_no" name="bill_no"
                            class="focus:shadow-outline w-full md:w-4/5 appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
                    </div>
                </div>
                <div class="mb-4 flex flex-col justify-space md:flex-row">
                    <div class="mb-4 w-full md:w-1/2">
                        <label for="customer_name" class="text -gray-700 mb-2 block text-sm font-bold">Customer
                            Name</label>
                        <input type="text" id="customer-name" name="customer_name"
                            class="focus:shadow-outline w-full md:w-4/5 appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
                    </div>
                    <div class="mb-4 w-full md:w-1/2">
                        <label for="customer_pan" class="text -gray-700 mb-2 block text-sm font-bold">Customer
                            Pan</label>
                        <input type="text" id="customer-pan" name="customer_pan"
                            class="focus:shadow-outline w-full md:w-4/5 appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
                    </div>
                </div>
                <div
                    class="flex items-center justify-between rounded bg-slate-500 absolute w-1/2 max-h-32 overflow-y-auto -mt-8">
                    <ul class="w-full" id="customers-list">
                    </ul>
                </div>
                <!-- items in table -->
                <div class="mb-4">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-800 text-white">
                            <tr>
                                <th class="w-1/2 text-left py-3 px-4 uppercase font-semibold text-sm">Item Name</th>
                                <th class="w-28 text-left py-3 px-4 uppercase font-semibold text-sm">Quantity</th>
                                <th class="w-28 text-left py-3 px-4 uppercase font-semibold text-sm">Price</th>
                                <th class="w-28 text-left py-3 px-4 uppercase font-semibold text-sm">Total</th>
                                <th class="w-28 text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700" id="bill-table">
                            <!-- items will be added here -->
                        </tbody>
                    </table>
                </div>
                <div class="mb-4">
                    <label for="total" class="block text-gray-700 text-sm font-bold mb-2">Total</label>
                    <input type="text" id="total" name="total"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        readonly>
                </div>

                <div class="flex items
                    -center justify-between">
                    {% csrf_token %}
                    <button onclick="createBill()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Create Bill
                    </button>
                    <a href="{% url 'billing:view-bills-frontend' %}"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'billing/js/items-search.js' %}"></script>

<script src="https://nepalidatepicker.sajanmaharjan.com.np/nepali.datepicker/js/nepali.datepicker.v4.0.1.min.js"
    type="text/javascript"></script>
<script src="{% static 'billing/js/datepicker.js' %}"></script>
<script src="{% static 'billing/js/create-bill.js' %}"></script>
{% endblock %}