{% extends 'base.html' %}
{% load static %}

{% block title %}
Items | Khata Bill Management System
{% endblock %}

{% block content %}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="text-3xl text-black pb-6">Items</h1>
        <div class="flex justify-between">
            <div>
                <!-- <select name="" class="p-2 border bg-white border-gray-200" id="">
                    <option value="">Pritam</option>
                    <option value="">Anil</option>
                    <option value="">Amit</option>
                    <option value="">Sushma</option>
                </select> -->
                <button class="border bg-blue-500 p-2 hover:bg-blue-600 text-white" data-open>Add Item</button>
            </div>
            {% csrf_token %}
            <form id="search-form">
                <input type="text" class="p-2 border border-gray-200" placeholder="search" id="search">
                <button class="border bg-blue-500 p-2 hover:bg-blue-600 text-white" type="submit">Search</button>
            </form>
        </div>
        <div class="w-full mt-6">
            <div class="bg-white overflow-auto">
                <table class="w-full text-left whitespace-no-wrap">
                    <thead>
                        <tr class="min-w-full bg-gray-800 text-white">
                            <th class="font-semibold w-3/5 uppercase px-4 py-3">Item Name</th>
                            <th class="font-semibold w-1/5 uppercase px-4 py-3">Price</th>
                            <th class="font-semibold w-1/5 uppercase px-4 py-3 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="items-table">
                    </tbody>
                </table>
            </div>
            <div class="flex w-full justify-end bg-blue-50 p-2">
                <div class="flex">
                    <button class="bg-blue-100 p-2 hover:bg-blue-300" onclick="previousPage()">Previous</button>
                    <select name="" id="page-number-selector" class="p-2"></select>
                    <button class="bg-blue-100 p-2 hover:bg-blue-300" onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>
        <dialog item-modal>
            <form action="post" class="p-4 rounded shadow" id="item-details">
                {% csrf_token %}
                <input type="hidden" name="id" id="item-id" />
                <h1 class="text-center font-bold uppercase">Item Details</h1>
                <label for="name">Item Name</label>
                <input type="text" name="name" id="item-name" class="w-full border border-gray-200 p-2" />
                <label for="price">Price</label>
                <input type="text" name="price" id="item-price" class="w-full border border-gray-200 p-2" />
                <label for="description">Description</label>
                <textarea name="description" id="item-description" class="w-full border border-gray-200 p-2"></textarea>
                <div class="flex w-full justify-between p-4">
                    <button class="border bg-blue-500 p-2 text-white hover:bg-blue-600" type="submit">update</button>
                    <button class="border bg-red-500 p-2 text-white hover:bg-red-600" type="button" id="close-button">Cancel</button>
                </div>
            </form>
        </dialog>
        <dialog data-modal>
            <form method="post" class="p-4 rounded shadow" id="add-item-form">
                {% csrf_token %}
                <h1 class="text-center font-bold uppercase">Add Item</h1>
                <label for="name">Item Name</label>
                <input type="text" name="name" id="name" class="w-full border border-gray-200 p-2" />
                <label for="price">Price</label>
                <input type="text" name="price" id="price" class="w-full border border-gray-200 p-2" />
                <label for="description">Description</label>
                <textarea name="description" id="description" class="w-full border border-gray-200 p-2"></textarea>
                <div class="flex w-full justify-between p-4">
                    <button class="border bg-blue-500 p-2 text-white hover:bg-blue-600" type="submit">Save</button>
                    <button class="border bg-red-500 p-2 text-white hover:bg-red-600" type="button"
                        data-close>Cancel</button>
                </div>
            </form>

        </dialog>
    </main>
</div>

<script>
    const dialog = document.querySelector('[data-modal]');
    const openBtn = document.querySelector('[data-open]');
    const closeBtn = document.querySelector('[data-close]');

    openBtn.addEventListener('click', () => {
        dialog.showModal();
    });

    closeBtn.addEventListener('click', () => {
        dialog.close();
    });
</script>

{% endblock %}

{% block js %}
<script src="{% static 'billing/js/items.js' %}"></script>
<script src="{% static 'billing/js/paginator.js' %}"></script>
{% endblock %}