{% extends 'base.html' %}
{% load static %}

{% block title %}Bills | Bill Management System{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'billing/css/create-bill.css' %}">
{% endblock %}

{% block content %}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6" id="main">
        <h1 class="text-3xl text-black pb-6">Bills</h1>
        <div class="flex justify-between">
            <div>
                <select name="" class="p-2 border bg-white border-gray-200" id="customers-select">
                    <option value="">Select Customer</option>
                </select>
                <a onclick="cancelledBills()"
                    class="p-2  underline text-red-400 hover:text-red-500 hover:cursor-pointer">Cancelled Bills</a>
            </div>
            <div>
                {% csrf_token %}
                <input type="text" class="p-2 border border-gray-200" placeholder="search">
                <button class="border bg-blue-500 p-2 hover:bg-blue-600 text-white">Search</button>
            </div>
        </div>
        <div class="w-full mt-6">
            <div class="bg-white overflow-auto">
                <table class="min-w-full bg-white">
                    <thead class="bg-gray-800 text-white">
                        <tr>
                            <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Bill No.</th>
                            <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Bill Amount</th>
                            <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Customer</th>
                            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Bill Date</th>
                            <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Actions</td>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700" id="bill-table">

                    </tbody>
                </table>
            </div>
            <div class="flex w-full justify-end bg-blue-50 p-2">
                <div class="flex">
                    <button class="bg-blue-100 p-2 hover:bg-blue-300" onclick="previousPage()">Previous</button>
                    <select name="" id="page-number-selector" class="p-2"></select>
                    <button class="bg-blue-100 p-2 hover:bg-blue-300" onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="w-full bg-white text-right p-4">
        Built by <a target="_blank" href="https://pritamgurung.com.np" class="underline">Pritam Gurung</a>.
    </footer>
</div>

<script src="{% static 'billing/js/view-bills.js' %}"></script>
<script src="{% static 'billing/js/paginator.js' %}"></script>

{% endblock %}